<template>
  <div class="user-manage-container">
    <el-card class="header">
      <div>
        <el-button
          type="primary"
          size="large"
          @click="onImportExcelClick"
          v-permission="['importUser']"
        >
          {{ $t('msg.excel.importExcel') }}
        </el-button
        >
        <el-button
          type="success"
          size="large"
          @click="onToExcelClick">
          {{ $t('msg.excel.exportExcel') }}
        </el-button>
      </div>
    </el-card>

    <el-card>
      <el-table :data="userList" border style="width: 100%;">
        <el-table-column label="#" type="index"></el-table-column>
        <el-table-column prop="username" :label="$t('msg.excel.name')"></el-table-column>
        <el-table-column :label="$t('msg.excel.avatar')" align="center">
          <template v-slot="{row}">
            <el-image class="avatar" :src="row.avatar" :preview-src-list="[row.avatar]" preview-teleported></el-image>
          </template>
        </el-table-column>
        <el-table-column prop="roles" :label="$t('msg.excel.role')">
          <template #default="{row}">
            <div v-if="row.roles && row.roles.length > 0">
              <el-tag size="large" v-for="role in row.roles" :key="role.id">{{ role.name }}</el-tag>
            </div>
            <div v-else>
              <el-tag size="large">{{ $t('msg.excel.defaultRole') }}</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column :label="$t('msg.excel.openTime')">
          <template #default="{row}">
            {{ $filters.formatDate(new Date(row.createdAt), 'YYYY-MM-DD') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('msg.excel.action')" fixed="right">
          <template #default="{row}">
            <el-button type="primary" @click="onShowClick(row.id)">{{ $t('msg.excel.show') }}</el-button>
            <el-button type="info" @click="onShowRoleClick(row)" v-permission="['distributeRole']">{{ $t('msg.excel.showRole') }}</el-button>
            <el-button type="danger" @click="handleDelete(row)" v-permission="['removeUser']">{{ $t('msg.excel.remove') }}</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="pagination"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-size="size"
        :page-sizes="[2, 5, 10, 20]"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </el-card>

    <export2-excel v-model="exportToExcelVisible" :users="userList"></export2-excel>

    <roles v-model="roleDialogVisible" :user-roles="userRoles" :user-id="userId" @updateRoles="getUserListData"></roles>
  </div>
</template>

<script setup>
import { ref, onActivated } from 'vue'
import { getUserList, deleteUser } from '@/api/user.js'
import { useRouter } from 'vue-router'
import { ElMessage, ElMessageBox } from 'element-plus'
import { useI18n } from 'vue-i18n'
import Export2Excel from './components/Export2Excel.vue'
import Roles from './components/Roles.vue'

const userList = ref([])
const total = ref(0)
const page = ref(1)
const size = ref(5)

const getUserListData = async () => {
  const data = await getUserList({
    page: page.value,
    size: size.value
  })
  userList.value = data.rows
  total.value = data.count
}
getUserListData()

onActivated(getUserListData)

const router = useRouter()
const onImportExcelClick = () => {
  router.push('/user/import')
}

const exportToExcelVisible = ref(false)
const onToExcelClick = () => {
  exportToExcelVisible.value = true
}

const handleSizeChange = currentSize => {
  size.value = currentSize
  getUserListData()
}

const handleCurrentChange = currentPage => {
  page.value = currentPage
  getUserListData()
}

const onShowClick = id => {
  router.push(`/user/info/${id}`)
}

const roleDialogVisible = ref(false)
const userRoles = ref([])
const userId = ref('')
const onShowRoleClick = (row) => {
  roleDialogVisible.value = true
  userRoles.value = row.roles
  userId.value = String(row.id)
}

// watch(roleDialogVisible, value => {
//   if (!value) {
//     // userRoles.value = []
//   }
// })

const i18n = useI18n()
const handleDelete = (row) => {
  ElMessageBox.confirm(i18n.t('msg.excel.dialogTitle1') + row.username + i18n.t('msg.excel.dialogTitle2'), {
    type: 'warning'
  }).then(async () => {
    await deleteUser({ id: row.id })
    ElMessage.success(i18n.t('msg.excel.removeSuccess'))
    getUserListData()
  })
}

</script>

<style lang="scss" scoped>
.user-manage-container {
  .header {
    margin-bottom: 22px;
    text-align: right;
  }

  ::v-deep .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  ::v-deep .el-tag {
    margin-right: 6px;
  }

  .pagination {
    margin-top: 20px;
    justify-content: center;
  }
}
</style>
