<template>
  <el-menu
    :default-active="activeMenu"
    :unique-opened="true"
    :text-color="$store.getters.cssVar.menuText"
    :active-text-color="$store.getters.cssVar.menuActiveText"
    :background-color="$store.getters.cssVar.menuBg"
    router
    :collapse="!$store.getters.sidebarOpened"
  >
    <sidebar-item v-for="item in routes" :key="item.path" :route="item"></sidebar-item>
  </el-menu>
</template>

<script setup>
import { computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { filterRouters, generateMenus } from '@/utils/route.js'
import SidebarItem from '@/layout/components/Sidebar/SidebarItem.vue'

const router = useRouter()
const routes = computed(() => {
  const fRoutes = filterRouters(router.getRoutes())
  return generateMenus(fRoutes)
})

const route = useRoute()
const activeMenu = computed(() => {
  const { path } = route
  return path
})

</script>

<style lang="scss" scoped>

</style>
