<template>
  <div>
    <el-card>
      <el-table
        :data="permissionList"
        border
        row-key="id"
        default-expand-all
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
      >
        <el-table-column prop="permissionName" :label="$t('msg.permission.name')" width="250"></el-table-column>
        <el-table-column prop="permissionMark" :label="$t('msg.permission.mark')" width="250"></el-table-column>
        <el-table-column prop="permissionDesc" :label="$t('msg.permission.desc')"></el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { getPermissionList } from '@/api/permission.js'

const permissionList = ref([])

const getPermissionListData = async () => {
  permissionList.value = await getPermissionList()
}

getPermissionListData()
</script>

<style lang="scss" scoped>

</style>
