<template>
  <el-dialog
    :title="$t('msg.excel.title')"
    :model-value="modelValue"
    @close="closed"
    width="30%"
  >
    <el-input v-model="excelName" size="large" :placeholder="$t('msg.excel.placeholder')"></el-input>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="closed">{{ $t('msg.excel.close') }}</el-button>
        <el-button type="primary" @click="onConfirm" :loading="loading">{{ $t('msg.excel.confirm') }}</el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script setup>
import { ref, defineProps, defineEmits } from 'vue'
import { useI18n } from 'vue-i18n'
import { watchSwitchLang } from '@/utils/i18n.js'

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true
  },
  users: Array
})

const emits = defineEmits(['update:modelValue'])

const i18n = useI18n()
let exportDefaultName = i18n.t('msg.excel.defaultName')
const excelName = ref('')
excelName.value = exportDefaultName
watchSwitchLang(() => {
  exportDefaultName = i18n.t('msg.excel.defaultName')
  excelName.value = exportDefaultName
})

const closed = () => {
  emits('update:modelValue', false)
}

const loading = ref(false)
const onConfirm = async () => {
  loading.value = true
  const data = formatJson(props.users)
  const excel = await import('@/utils/Export2Excel.js')
  excel.export_json_to_excel({
    header: ['name', 'avatar', 'nickname', 'createdAt', 'updatedAt', 'roles'],
    data,
    filename: excelName.value || exportDefaultName
  })
  closed()
}

const formatJson = (rows) => {
  return rows.map(item => {
    delete item.id
    return Object.keys(item).map(key => {
      if (key === 'roles') {
        return JSON.stringify(item[key].map(item => item.name))
      }
      return item[key]
    })
  })
}
</script>

<style lang="scss" scoped>

</style>
