<template>
  <el-dialog
    :title="$t('msg.excel.roleDialogTitle')"
    :model-value="modelValue"
    @close="closed"
  >
    <el-checkbox-group v-model="userRoleTitleList">
      <el-checkbox
        v-for="item in roleList"
        :key="item.id"
        :label="item.name"
      ></el-checkbox>
    </el-checkbox-group>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="closed">{{ $t('msg.universal.cancel') }}</el-button>
        <el-button type="primary" @click="onConfirm">{{ $t('msg.universal.confirm') }}</el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script setup>
import { defineProps, defineEmits, ref, watch } from 'vue'
import { getRoleList } from '@/api/role.js'
import { updateUserRoles } from '@/api/user.js'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
// import { getUserDetail } from '@/api/user.js'

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true
  },
  userId: {
    type: String,
    required: true
  },
  userRoles: {
    type: Array,
    required: true
  }
})

const emits = defineEmits(['update:modelValue', 'updateRoles'])

const i18n = useI18n()
const onConfirm = async () => {
  await updateUserRoles({
    id: props.userId,
    roles: userRoleTitleList.value
  })

  ElMessage.success(i18n.t('msg.role.updateRoleSuccess'))
  emits('updateRoles')
  closed()
}

const closed = () => {
  emits('update:modelValue', false)
}

const roleList = ref([])
const getRoleListData = async () => {
  const { rows } = await getRoleList()
  roleList.value = rows
}
getRoleListData()

const userRoleTitleList = ref([])

watch(() => props.userRoles, value => {
  userRoleTitleList.value = props.userRoles.map(item => item.name)
})

// const getUserDetailData = async () => {
//   console.log(await getUserDetail(props.id))
// }
//
// watch(() => props.userId, value => {
//   if (value) {
//     getUserDetailData()
//   }
// })
</script>

<style scoped>

</style>
