<template>
  <div class="article-ranking-container">
    <el-card class="header">
      <div class="dynamic-box">
        <span>{{ $t('msg.article.dynamicTitle') }}</span>
        <el-checkbox-group v-model="selectDynamicLabel">
          <el-checkbox v-for="(item, index) in dynamicData" :label="item.label" :key="index">
            {{ item.label }}
          </el-checkbox>
        </el-checkbox-group>
      </div>
    </el-card>
    <el-card>
      <el-table ref="tableRef" :data="articleData" border>
        <el-table-column
          v-for="(item, index) in tableColumns"
          :key="index"
          :prop="item.prop"
          :label="item.label"
        >
          <template v-if="item.prop === 'createdAt'" #default="{row}">
            {{ $filters.formatDate(new Date(row.createdAt), 'YYYY-MM-DD hh-mm-ss') }}
          </template>
          <template v-else-if="item.prop === 'action'" #default="{row}">
            <el-button type="primary" @click="onShowClick(row)">{{ $t('msg.article.show') }}</el-button>
            <el-button type="danger" @click="onRemoveClick(row)">{{ $t('msg.article.remove') }}</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="pagination"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[5, 10, 20, 50, 100]"
        :page-size="size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total "
      ></el-pagination>
    </el-card>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { getArticleList, deleteArticle } from '@/api/article.js'
import { dynamicData, selectDynamicLabel, tableColumns } from './dynamic/index.js'
import { ElMessageBox, ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
import router from '@/router/index.js'

const articleData = ref([])
const page = ref(1)
const size = ref(5)
const total = ref(0)
const getArticleListData = async () => {
  const data = await getArticleList({
    page: page.value,
    size: size.value
  })
  articleData.value = data.rows
  total.value = data.count
}
getArticleListData()

const onShowClick = (row) => {
  router.push(`/article/${row.id}`)
}

const i18n = useI18n()
const onRemoveClick = (row) => {
  ElMessageBox.confirm(
    i18n.t('msg.article.dialogTitle1') +
    row.title +
    i18n.t('msg.article.dialogTitle2'),
    {
      type: 'warning'
    }
  ).then(async () => {
    await deleteArticle({ id: row.id })
    ElMessage.success(i18n.t('msg.article.removeSuccess'))
    await getArticleListData()
  })
}

const handleSizeChange = (currentSize) => {
  size.value = currentSize
  getArticleListData()
}
const handleCurrentChange = (currentPage) => {
  page.value = currentPage
  getArticleListData()
}

</script>

<style lang="scss" scoped>
.article-ranking-container {
  .header {
    margin-bottom: 20px;

    .dynamic-box {
      display: flex;
      align-items: center;

      .title {
        margin-right: 20px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  ::v-deep .el-table__row {
    cursor: pointer;
  }

  .pagination {
    margin-top: 20px;
    justify-content: center;
  }
}
</style>
