<template>
  <div>
    <el-card>
      <el-table
        :data="roleList"
        border
        style="width: 100%;"
      >
        <el-table-column type="index" width="100" :label="$t('msg.role.index')"></el-table-column>
        <el-table-column prop="name" :label="$t('msg.role.name')"></el-table-column>
        <el-table-column prop="desc" :label="$t('msg.role.desc')"></el-table-column>
        <el-table-column :label="$t('msg.role.action')">
          <template #default="{row}">
            <el-button type="primary" @click="onDistributePermissionClick(row)" v-permission="['distributePermission']">{{
                $t('msg.role.assignPermissions')
              }}
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <distribute-permission v-model="visible" :role-id="roleId"></distribute-permission>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { getRoleList } from '@/api/role.js'
import DistributePermission from './components/DistributePermission.vue'

const roleList = ref([])
const getRoleListData = async () => {
  const { rows } = await getRoleList()
  roleList.value = rows
}
getRoleListData()

const visible = ref(false)
const roleId = ref('')
const onDistributePermissionClick = (row) => {
  visible.value = true
  roleId.value = String(row.id)
}
</script>

<style lang="scss" scoped>

</style>
