<template>
  <div class="editor-container">
    <div id="editor-box"></div>
    <div class="bottom">
      <el-button type="primary" @click="onSubmitClick" size="large">{{
          $t('msg.article.commit')
        }}
      </el-button>
    </div>
  </div>
</template>

<script setup>
import { onMounted, defineEmits, defineProps, watch } from 'vue'
import E from 'wangeditor'
import i18next from 'i18next'
import { useStore } from 'vuex'
import { useI18n } from 'vue-i18n'
import { createArticle, editArticle } from '@/api/article.js'
import { ElMessage } from 'element-plus'
import { useRouter } from 'vue-router'

const props = defineProps({
  title: {
    required: true,
    type: String
  },
  detail: {
    type: Object
  }
})

// Editor实例
let editor
// 处理离开页面切换语言导致 dom 无法被获取
let el
onMounted(() => {
  el = document.querySelector('#editor-box')
  initEditor()
})

const store = useStore()
const initEditor = () => {
  editor = new E(el)
  editor.config.zIndex = 1
  // 菜单栏提示
  editor.config.showMenuTooltips = true
  editor.config.menuTooltipPosition = 'down'
  // 国际化
  editor.config.lang = store.getters.language === 'zh' ? 'zh-CN' : 'en'
  editor.i18next = i18next
  editor.create()
}

watch(
  () => props.detail,
  (val) => {
    if (val && val.content) {
      editor.txt.html(val.content)
    }
  },
  {
    immediate: true
  }
)

const i18n = useI18n()
const emits = defineEmits(['onSuccess'])
const router = useRouter()
const onSubmitClick = async () => {
  if (props.detail && props.detail.id) {
    // 编辑
    await editArticle({
      id: props.detail.id,
      title: props.title,
      content: editor.txt.html()
    })
    ElMessage.success(i18n.t('msg.article.editorSuccess'))
  } else {
    // 新增
    await createArticle({
      title: props.title,
      content: editor.txt.html()
    })
    ElMessage.success(i18n.t('msg.article.createSuccess'))
  }

  editor.txt.html('')
  emits('onSuccess')
  await router.push('/article')
}
</script>

<style lang="scss" scoped>
.editor-container {
  .bottom {
    margin-top: 20px;
    text-align: right;
  }
}
</style>
