<template>
  <div class="markdown-container">
    <div id="markdown-box"></div>

    <div class="bottom">
      <el-button type="primary" @click="onSubmitClick" size="large">{{ $t('msg.article.commit') }}</el-button>
    </div>
  </div>
</template>

<script setup>
import { onMounted, defineProps, defineEmits, watch } from 'vue'
import Editor from '@toast-ui/editor'
import '@toast-ui/editor/dist/toastui-editor.css'
import '@toast-ui/editor/dist/i18n/zh-cn'
import { useStore } from 'vuex'
import { watchSwitchLang } from '@/utils/i18n.js'
import { createArticle, editArticle } from '@/api/article.js'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
import { useRouter } from 'vue-router'

const props = defineProps({
  title: {
    required: true,
    type: String
  },
  detail: {
    type: Object
  }
})

let mkEditor
let el
onMounted(() => {
  el = document.querySelector('#markdown-box')
  initEditor()
})
const store = useStore()
const initEditor = () => {
  mkEditor = new Editor({
    el,
    height: '500px',
    previewStyle: 'vertical',
    language: store.getters.language === 'zh' ? 'zh-CN' : 'en'
  })

  mkEditor.getMarkdown()
}

watchSwitchLang(() => {
  if (!el) return
  const htmlStr = mkEditor.getHTML()
  mkEditor.destroy()
  initEditor()
  mkEditor.setHTML(htmlStr)
})

watch(
  () => props.detail,
  (val) => {
    if (val && val.content) {
      mkEditor.setHTML(val.content)
    }
  },
  {
    immediate: true
  }
)

const i18n = useI18n()
const emits = defineEmits(['onSuccess'])
const router = useRouter()
const onSubmitClick = async () => {
  if (props.detail && props.detail.id) {
    // 编辑
    await editArticle({
      id: props.detail.id,
      title: props.title,
      content: mkEditor.getHTML()
    })
    ElMessage.success(i18n.t('msg.article.editorSuccess'))
  } else {
    // 新增
    await createArticle({
      title: props.title,
      content: mkEditor.getHTML()
    })
    ElMessage.success(i18n.t('msg.article.createSuccess'))
  }

  mkEditor.reset()
  emits('onSuccess')
  await router.push('/article')
}
</script>

<style lang="scss" scoped>
.markdown-container {
  .bottom {
    margin-top: 20px;
    text-align: right;
  }
}
</style>
