<template>
  <div class="article-create">
    <el-card>
      <el-input
        class="title-input"
        :placeholder="$t('msg.article.titlePlaceholder')"
        v-model="title"
        maxlength="20"
        clearable
        size="large"
      ></el-input>

      <el-tabs v-model="activeName">
        <el-tab-pane :label="$t('msg.article.markdown')" name="markdown">
          <markdown :title="title" :detail="detail" @onSuccess="onSuccess"></markdown>
        </el-tab-pane>
        <el-tab-pane :label="$t('msg.article.richText')" name="editor">
          <editor :title="title" :detail="detail" @onSuccess="onSuccess"></editor>
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import Markdown from './componnets/Markdown.vue'
import Editor from './componnets/Editor.vue'
import { useRoute } from 'vue-router'
import { getArticleDetail } from '@/api/article.js'

const title = ref('')
const activeName = ref('markdown')

const route = useRoute()
const articleId = route.params.id
const detail = ref({})
const getArticleDetailData = async () => {
  detail.value = await getArticleDetail({ id: articleId })
  title.value = detail.value.title
}
if (articleId) {
  getArticleDetailData()
}

const onSuccess = () => {
  title.value = ''
}
</script>

<style lang="scss" scoped>
.title-input {
  margin-bottom: 30px;
}
</style>
